@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Caviar Dreams";
  src: url(../fonts//CaviarDreams.ttf);
}

@font-face {
  font-family: "Caviar Dreams Bold";
  src: url(../fonts//CaviarDreams_Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  /* font-family: "Caviar Dreams", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.section-title h1.title {
  font-size: 40px;
  color: #0a0908;
  @apply text-center uppercase font-bold relative pt-8 z-10;
}

.section-title h1.title::after {
  content: attr(data-title);
  color: transparent;
  font-size: 70px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  -webkit-text-stroke: 5px #0a0908;
  stroke: 10px #0a0908;
  opacity: 0.2;
  z-index: 1;
  letter-spacing: 8px;
  @apply uppercase font-black absolute;
}

.btn {
  color: white;
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  width: 290px;
  font-size: 20px;
  transition: all 0.2s linear;
  @apply mt-4 flex items-center justify-center font-light uppercase py-1;
}

.btn:hover {
  color: black;
  background-color: white;
  @apply font-medium;
}

@media only screen and (min-width: 400px) {
  .btn {
    font-size: 24px;
    width: 320px;
  }
}

@media (min-width: 800px) {
  .section-title h1.title {
    font-size: 45px;
  }
  .section-title h1.title:after {
    font-size: 80px;
    -webkit-text-stroke: 7px #0a0908;
  }
}

@media (min-width: 1280px) {
  .section-title h1.title {
    font-size: 50px;
  }
  .section-title h1.title:after {
    font-size: 85px;
    -webkit-text-stroke: 7px #0a0908;
    letter-spacing: 12px;
  }
}
@media (min-width: 1350px) {
  .section-title h1.title {
    font-size: 60px;
  }
  .section-title h1.title:after {
    font-size: 90px;
    -webkit-text-stroke: 7px #0a0908;
  }
}
