.hero {
  color: white;
  height: 100vh;
  background-image: url(../images//hero-bg.jpg);
  background-position: left center;
  background-size: cover;
  z-index: 10;
  @apply flex flex-col items-center justify-center w-full relative;
}

.hero::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  z-index: -10;
  @apply absolute w-full h-full top-0 left-0;
}

.hero .salutation {
  font-size: 22px;
  @apply font-medium mb-1;
}

.hero .name {
  font-size: 33px;
  @apply font-bold;
}

.hero .desc {
  font-size: 25px;
  @apply font-bold;
}

.hero .btns-container {
  @apply flex flex-col mt-5;
}

.hero .btns-container .btn:hover {
  color: white;
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  @apply font-light;
}

.hero .btns-container .btn.primary {
  color: black;
  background-color: white;
  @apply font-semibold;
}

@media only screen and (min-width: 400px) {
  .hero .name {
    font-size: 42px;
  }
  .hero .desc {
    font-size: 32px;
  }
}
@media only screen and (min-width: 640px) {
  .hero .name {
    font-size: 45px;
  }
  .hero .desc {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero {
    @apply items-start pl-20;
  }
  .hero .salutation {
    @apply mb-2;
  }
  .hero .name {
    font-size: 50px;
    margin-bottom: -10px;
  }
  .hero .btns-container {
    @apply flex-row;
  }
  .hero .btn {
    width: 300px;
    height: 60px;
    font-size: 24px;
    @apply mr-9 mt-5;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    @apply pl-24;
  }
  .hero .name {
    font-size: 50px;
  }
  .hero .desc {
    font-size: 38px;
  }
  .hero .btns-container {
    @apply mt-6;
  }
  .hero .btns-container .btn {
    width: 350px;
  }

  .hero .btns-container .btn.primary {
    font-weight: 700;
  }
}
@media only screen and (min-width: 1350px) {
  .hero {
    @apply pl-32;
  }
  .hero .salutation {
    font-size: 30px;
  }
  .hero .name {
    font-size: 70px;
  }
  .hero .desc {
    font-size: 45px;
  }
  .hero .btn {
    font-size: 26px;
  }
}
