.navbar {
  height: 90px;
  transition: 0.3s;
  background: transparent;

  @apply fixed top-0 w-full z-20;
}

.nav-container {
  @apply px-5 flex items-center justify-between h-full;
}

.nav-container .logo {
  height: 80%;
}
.nav-container .logo img {
  height: 100%;
  width: auto;
}

.phone-nav .bars {
  height: fit-content;
  @apply my-auto cursor-pointer;
}

.phone-nav .bars .bar {
  width: 40px;
  background-color: #f2f4f3;
  height: 2px;
  border-radius: 10px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.3s;
  @apply my-2 relative;
}

.phone-nav .bars .bar.top {
  top: 0;
}

.phone-nav .bars.transform .bar.top {
  transform: rotate(45deg);
  top: 10px;
}

.phone-nav .bars .bar.mid {
  right: 0;
  opacity: 1;
}

.phone-nav .bars.transform .bar.mid {
  right: 3px;
  opacity: 0;
}

.phone-nav .bars .bar.bottom {
  bottom: 0;
}

.phone-nav .bars.transform .bar.bottom {
  transform: rotate(-45deg);
  bottom: 10px;
}

.phone-nav .links {
  background-color: #0a0908;
  height: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
  @apply absolute top-0 left-0 w-full flex flex-col items-center justify-center;
}

.phone-nav .links.show {
  opacity: 1;
  height: 100vh;
}

.phone-nav .links .link {
  color: #f2f4f3;
  font-size: 20px;
  @apply my-3;
}

.desktop-nav {
  @apply hidden;
}

.desktop-nav .links {
  color: #f2f4f3;
  @apply flex items-center;
}

.desktop-nav .links .link {
  font-size: 20px;
  @apply mx-4;
}

.desktop-nav .links .link button {
  outline: none;
  @apply font-medium;
}

@media (min-width: 1024px) {
  .nav-container {
    @apply px-10;
  }
}

@media (min-width: 1280px) {
  .nav-container {
    @apply px-20;
  }
  .desktop-nav .links .link {
    @apply mx-6;
  }
  .phone-nav {
    @apply hidden;
  }
  .desktop-nav {
    @apply block;
  }
}
@media (min-width: 1350px) {
  .nav-container {
    @apply px-24;
  }
}
