.navbar {
  height: 90px;
  transition: 0.3s;
  background: transparent;

  @apply fixed top-0 w-full z-20;
}

.nav-container {
  @apply px-5 flex items-center justify-between h-full;
}

.nav-container .logo {
  height: 80%;
}
.nav-container .logo img {
  height: 100%;
  width: auto;
}

.phone-nav .bars {
  @apply my-auto cursor-pointer;
}

.phone-nav .bars .bar {
  width: 35px;
  background-color: white;
  height: 2px;
  @apply my-1.5;
}

.phone-nav .links {
  background-color: #49111c;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;

  @apply absolute top-0 left-0 w-full flex flex-col items-center justify-center;
}

.phone-nav .links.show {
  opacity: 1;
  height: 100vh;
}

.phone-nav .links .link {
  color: white;
  font-size: 20px;
  @apply my-3;
}

.desktop-nav {
  @apply hidden;
}

.desktop-nav .links {
  color: white;
  @apply flex items-center;
}

.desktop-nav .links .link {
  font-size: 20px;
  @apply mx-4;
}

.desktop-nav .links .link button {
  outline: none;
  @apply font-medium;
}

@media (min-width: 1024px) {
  .nav-container {
    @apply px-10;
  }
}

@media (min-width: 1280px) {
  .nav-container {
    @apply px-20;
  }
  .desktop-nav .links .link {
    @apply mx-6;
  }
  .phone-nav {
    @apply hidden;
  }
  .desktop-nav {
    @apply block;
  }
}
@media (min-width: 1350px) {
  .nav-container {
    @apply px-24;
  }
}
