.testimonials {
  background-color: #f2f4f3;
  color: #0a0908;
  @apply py-20;
}

.testimonials-container {
  max-width: 1200px !important;
  @apply px-3 mx-auto relative my-8 mt-4;
}

.testimonials-container .testimonial {
  width: 90%;
  max-width: 460px !important;
  min-width: unset !important;
  @apply flex items-center flex-col mx-auto;
}

.testimonials-container .testimonial .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #0a0908;
  overflow: hidden;
  @apply p-1 mb-5;
}

.testimonials-container .testimonial .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimonial .testimonial-container {
  width: 100%;
  border-radius: 10px;
  border: 1.5px solid #0a0908;
  @apply px-4 py-6 pb-4 relative;
}

.testimonial-container::after {
  content: " ";
  bottom: 100%;
  right: 50%;
  transform: translateX(50%);
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-bottom-color: #f2f4f3;
  border-width: 14px;
  margin-left: -10px;
  @apply absolute;
}

.testimonial-container::before {
  content: " ";
  bottom: 100%;
  right: 50%;
  transform: translateX(50%);
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-bottom-color: #0a0908;
  border-width: 15.5px;
  margin-left: -10px;
  @apply absolute;
}

.testimonial-container .quote {
  font-size: 18px;
  @apply font-semibold;
}

.testimonial-container .quote span {
  @apply font-bold;
}

.testimonial-container .name {
  font-size: 18px;
  @apply font-bold mt-3;
}

.testimonial-container .profession {
  margin-top: -5px;
  opacity: 0.9;
  @apply font-semibold;
}

.testimonial-container .name,
.testimonial-container .profession {
  @apply flex justify-end;
}

.arrow-right,
.arrow-left {
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #0a0908;
  background-color: #f2f4f3;
  @apply hidden absolute cursor-pointer items-center justify-center p-3;
}

.arrow-right svg,
.arrow-left svg {
  height: 100%;
  width: 100%;
  color: #0a0908;
}

.arrow-right {
  right: -45px;
}

.arrow-left {
  left: -45px;
}

.dots {
  @apply mx-auto flex justify-center;
}

.dots .dot {
  width: 10px;
  height: 10px;
  border: 1px solid #0a0908;
  border-radius: 50%;
  background-color: transparent;
  @apply mx-1;
}

.dots .dot.active {
  background-color: #0a0908;
}

@media (min-width: 1024px) {
  .testimonials-container {
    @apply mt-20;
  }
  .testimonials-container .testimonial {
    max-width: 480px !important;
    @apply items-start flex-row justify-between;
  }
  .testimonial .testimonial-container {
    max-width: 400px;
    @apply py-4;
  }
  .testimonials-container .testimonial .img {
    width: 65px;
    height: 65px;
    @apply mb-0;
  }
  .testimonial-container::after {
    bottom: unset;
    left: -23px;
    right: unset;
    top: 32px;
    transform: translate(50%, -50%) rotate(-90deg);
    border-width: 11px;
  }

  .testimonial-container::before {
    bottom: unset;
    left: -28px;
    right: unset;
    top: 32px;
    transform: translate(50%, -50%) rotate(-90deg);
    border-width: 12.5px;
  }
  .arrow-right,
  .arrow-left {
    @apply flex;
  }
  .testimonial-container .quote {
    line-height: 23px;
  }
  .testimonial-container .name {
    font-size: 16px;
  }
  .testimonial-container .profession {
    font-size: 15px;
  }
}
